:root{

    --base-font: 'Inidie Flower', cursive;
    --font-weight: 200;

    /* font-size  */
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall:1.4em;

    /*color*/
    --solid:#6f0000;
    --bg-light-solid: white;

    /* Spacing */
  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8:0.8rem;

    /*opacity*/
    --bg-opacity: 0.25;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Style the body */
body {
    font-family: Arial, sans-serif;
}

/*header*/
.navbar{
display: flex;
align-items: center;
font-family: "Indie Flower", cursive;
font-weight: 400;
font-style: normal;
height: 80px; /* Altura fija para la barra de navegación */
/* flex-wrap: wrap; */
}
.logo{
    flex: 1;
    /* display: flex; */
    text-align: center;
    color: var(--solid);
    /* justify-content: flex-start; */
}

.logo-up{
    font-size:medium;
}   

.middle{
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center; /* Esto centra verticalmente */
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0; 
    list-style: none; /* Elimina el estilo de lista */
    margin-right: 200px;
    width: 50%; /* Ocupa todo el ancho */
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.middle a {
    cursor: pointer;
}
.middle li {
    display: inline-block; 
    width: 90px;
    transition: all 0.3s ease-in-out;
    /* padding: 0 5px; */
    margin-right: -25px;
  }
  .middle li:hover {
    height: 35px;
  }
  .middle > li:hover > a {
    color: #6F0000;
  }

  .middle > li:hover > a::before {
    visibility: visible;
    scale: 1 1;
}
.middle li a {
    color: #6F0000;
}
  
  .middle > li a:hover {
    background: white;
  }
  
  .middle > li a {
    color: #6F0000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    text-decoration: none;
    position: relative;
    height: 100%;
  }
  
  .middle > li > a::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 3px;
    left: 23px;
    background-color: #6F0000;
    transition: all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
  }
  
  
.middle-home, .middle-shop, .middle-about, .middle-contact {
    text-align: center;
    align-items: stretch; 
}

/* img derecha del navbar */

.right-nav {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.right-lupa, .right-user, .right-bag {
    margin-left: 10px;
}

/*hero img*/
.heros-imgs{
    position: relative;
}

.hero-img{
    width: 100%;
    height: auto;
}

.discover{
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-color: var(--bg-light-solid);
    padding: 20px;
    /* padding-right: 20px; */
    max-width: 400px;
}

.discover-h{
    margin-bottom: 10px;
    color: var(--solid);
    font-family: 'Lato', sans-serif;
    font-size: 3vw;
}

.discover-p{
    font-size: 1.5vw;
    margin-bottom: 10px;

}

.discover-btn{
    background-color: var(--solid);
    color: var(--bg-light-solid);
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-style: normal;
    width: 50%;
    border: #6F0000;
}

 
.container-middle {
    text-align: center;
    margin-top: 20px;
}
.container-h{
    font-family: 'Lato', sans-serif;
    font-size: 2.5vw;
    margin-bottom: 10px;
    font-style: normal;
    color: var(--solid);
}
.container-p{
    font-family: 'Lato', sans-serif;
    /* font-size: 20px; */
    font-size: 1.5vw;
    margin-bottom: 20px;
    font-style: normal;
    /* margin-top: -30px; */
}


.range{
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center;
    align-content: stretch; */
    gap: 20px;
}
.range > div{
    text-align: center;
}
.range-img{
    /* display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    padding: 10px; */
    width: 100%;
    max-width: 300px;
    height: auto;
}

.range-p {
    /* text-align: center; */
    font-size: 1.2vw;
}

/*cards*/
.row{
    display: grid;
    gap: 5px 10px;
    grid-template-columns: auto ;
    grid-template-rows: 400px;
    /* row-gap: 450px; */
    row-gap: 20px;
    justify-content: center;
    padding: 20px;
    
}


.card-container{
    /* width: 100%; */
    /* height: 100%; */
    /* height: auto; */
    position: relative;
    padding-bottom: 30px;
    
}

.card-div{
    /* width: 269px;
    height: 397px;
    left: 2px;
    top: 3px;
    position: absolute; */
    width: 100%;
    height: 120%;
    background: rgba(217, 217, 217, 0.27);
    border-radius: 14px;
    position: absolute;
    z-index: -1;
}

.card-img{
    /* width: 271px;
    height: 279px; */
    width: 100%;
    height: auto;
    /* left: 0px;
    top: 0px;
    position: absolute; */
    border-top-left-radius: 14px;
    border-top-right-radius: 14px
}

.card-name,
.card-size,
.card-price {
    position: absolute;
    color: black;
    font-family: Lato;
    word-wrap: break-word;
    margin-top: 280px;
    width: 80%; /* Ancho ajustado */
    left: 10%; /* Posición ajustada */
}
.card-size{
    margin-top: 250px;
}

.card-name{
    /* left: 19px;
    top: 295px;
    position: absolute;
    color: black;
    font-size: 27px;
    font-family: Lato;
    font-weight: 600;
    line-height: 27px;
    word-wrap: break-word*/
    font-size: 4vw;
    font-weight: 600;
    line-height: 1;
    /* left: 5%; */
    top: 10%;
}

.card-size, 
.card-price {
    /* left: 19px;
    top: 322px;
    position: absolute;
    color: black;
    font-size: 21px;
    font-family: Lato;
    font-weight: 500;
    line-height: 27px;
    word-wrap: break-word */
    font-size: 3vw;
    font-weight: 500;
    /* left: 5%; */
    /* top: 65%; */
    top: 30%;
}

.card-price{
    /* left: 19px;
    top: 361px;
    position: absolute;
    color: #6F0000;
    font-size: 21px;
    font-family: Lato;
    font-weight: 500;
    line-height: 27px;
    word-wrap: break-word */
    /* font-size: 3vw;
    font-weight: 500; */
    color: #6F0000;
    /* left: 5%;
    top: 75%; */
    /* top: 50%; */
}

.card-promo{
    /* width: 80px;
    height: 39px;
    left: 191px;
    top: 0px;
    position: absolute;
    background: #6F0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 36px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 36px */
    width: 20vw;
    height: 10vw;
    left: 65%;
    top: 0.5%;
    position: absolute;
    background: #6F0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 36px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 36px;
}

.card-promo-p{
    font-size: 25rem;
    font-family: Lato;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    color: white;
    left: 80%;
    top: 5%;
}


/*btn buy me*/

.btn-padre{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-top: 70px;
}

.btn-buy{
    display: flex;
  justify-content: center;
  align-items:center;
  margin: 0 10px;
}

.btn-container{
    background: #6F0000;
    width: 30vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-bm{
    color: white;
    text-align:center;
    /* font-size: 36px; 
    font-family: Lato; 
    font-weight: 600; 
    line-height: 57px;  */
    word-wrap: break-word;
    font-size: 3vw;
    font-family: Lato;
    font-weight: 600;
    line-height: 5vw;
    word-wrap: break-word;
}


/*inspiration*/


.container-h-i{
    font-family: 'Lato', sans-serif;
    font-size: 3vw; /* Cambiado a unidades relativas */
    font-style: normal;
    color: var(--solid);
    font-weight: 700;
    text-align: center; /* Añadido para centrar el texto */
    margin-top: 20px; /* Cambiado a unidades relativas */
}

/* Image Galery */

.img-galery{
    /* display: grid;
    grid-template-columns: repeat(5);
    grid-template-rows: repeat(7); */
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Mantener las imágenes en 5 columnas */
    gap: 10px;
    margin-top: 20px;

}

.image1 { 
    grid-area: 1 / 1 / 2 / 3;
    width: 502px;
    height: 294px;
 }
.image2 { 
    grid-area: 1 / 3 / 2 / 4;
    width: 300px;
    height: 294px;
 }
.image3 { 
    grid-area: 1 / 4 / 3 / 6;
    width: 430px;
    height: 829px;
    margin-bottom: -525px;
 }
.image4 { 
    grid-area: 2 / 1 / 3 / 4;
    /* margin-top: -407px;
    margin-bottom: 500px; */
    height: 522px;
    width: 804px;
    size: 90px;
 }
.image5 { 
    grid-area: 3 / 1 / 4 / 2;
    margin-right: 24px;
    margin-bottom: 285px;
 }
.image6 { 
    grid-area: 3 / 2 / 5 / 4;
    /* margin-right: -100px; */
    margin-left: -20px;
    width: 365px;
    height: 564px;
 }
.image7 { 
    grid-area: 3 / 4 / 4 / 6;
    width: 430px;
    height: 332px;
    margin-bottom: 230px;
    
 }
.image8 { 
    grid-area: 4 / 4 / 5 / 6;
    width: 430px;
    height: 210px;
    margin-top: -990px;
    margin-bottom: 30px;
    margin-left: 810px;
 }
.image9 { 
    grid-area: 4 / 1 / 6 / 2;
    margin-top: -300px;
 }
.image10 { 
    grid-area: 5 / 2 / 6 / 6; 
    width: 800px;
    height: 225px;
    margin-left: 450px;
    margin-top: -500px;
    margin-bottom: 22px;
} 

/* Learn more btn */

.learn{
    display: flex;
    justify-content: center; /* Añadido para centrar el botón */
    margin-top: 20px; /* Añadido margen superior */
}

.btn-learn{
    border: 2px solid #6F0000;
    background-color: white;
    width: 30vw; /* Cambiado a unidades relativas */
    height: 8vw; /* Cambiado a unidades relativas */
    font-size: 2vw; /* Cambiado a unidades relativas */
    font-weight: 600;
    color: #6F0000;
    cursor: pointer; /* Añadido cursor al botón */
}

/*Footer*/

.footer-container{
  background-color: #F1EEEE;
    padding: 20px;
    display: flex;
    margin-top: 110px;
}
.footer-logo {
    margin-right: 20px;
    margin-right: 20px; /* Ajuste de margen derecho */

}

.logo-furni-f{
    font-size: 2vw;
}

.footer-pages-container {
    flex-grow: 1; /* Para ocupar el espacio restante y centrar en dispositivos móviles */
    text-align: center;
  }

/* footer pages */


.footer-pages{
    display: grid;
grid-template-columns: repeat(3, 0.5fr);
grid-template-rows: repeat(4, 0.5fr);
justify-content: center;
align-items: center;
margin-top: 20px; /* Ajuste de margen superior */
font-family: "Lato", sans-serif;
font-weight: 400;
font-style: normal;
margin-right: 20px;
}

.pages-home { grid-area: 1 / 1 / 2 / 2; }
.pages-decor { grid-area: 1 / 2 / 2 / 3; }
.pages-bed { grid-area: 1 / 3 / 2 / 4; }
.pages-shop { grid-area: 2 / 1 / 3 / 2; }
.pages-furn { grid-area: 2 / 2 / 3 / 3; }
.pages-kit { grid-area: 2 / 3 / 3 / 4; }
.pages-abou { grid-area: 3 / 1 / 4 / 2; }
.pages-rent { grid-area: 3 / 2 / 4 / 3; }
.pages-livi { grid-area: 3 / 3 / 4 / 4; }
.pages-cont { grid-area: 4 / 1 / 5 / 2; }
.pages-sale { grid-area: 4 / 2 / 5 / 3; }
.pages-chair { grid-area: 4 / 3 / 5 / 4; }

/* footer searchbar */

.footer-searchbar {
    margin-top: 20px;
    margin-left: auto; /* Para alinear a la derecha */

  }
  .footer-logo-img {
    display: flex;
    flex-wrap: wrap; /* Para que las imágenes estén una debajo de la otra en dispositivos móviles */
  }
  .footer-search-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-search-input {
    width: 100%;
    height: 40px;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  
  .footer-search-button {
    background-color: #934040;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: -100px;
    font-size: 1vw;
  }
  
  .footer-search-button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: small;
  }


            /*SHOP PAGE*/

.column {
    float: left;
    padding: 10px;
    /* height: 300px; */
  }
.filter-shop {
    width: 15%;
}
.cards-shop{
    width: 85%;
}
.buscar{
    margin-top: 20px;
    margin-bottom: 20px;
}
.ordn{
    margin-top: 20px;
}
.precio{
    margin-top: 20px;
    margin-bottom: 20px;
}
.prc{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.min {
    font-size: x-small;
}

.inpt-min {
    width: 30px;
    margin-left: 5px; /* Ajustar el margen izquierdo */
}

.max {
    font-size: x-small;
    margin-left: 10px; /* Ajustar el margen izquierdo */
}

.inpt-max {
    width: 30px;
    margin-left: 5px; /* Ajustar el margen izquierdo */
}
.fltr label{
    display: block;
    margin-bottom: 10px;
}
.filtrar{
    margin-bottom: 15px;
}
/* cards shop */
.shop .card-name,
.shop .card-size,
.shop .card-price {
    /* Reiniciar la posición para los elementos en la página de la tienda */
    position: static;
    margin-top: 0; /* Eliminar el margen superior */
    top: auto; /* Reiniciar la posición superior */
    left: auto; /* Reiniciar la posición izquierda */
    width: auto; /* Reiniciar el ancho */
    font-size: inherit; /* Heredar el tamaño de fuente del elemento padre */
    font-weight: inherit; /* Heredar el peso de la fuente del elemento padre */
    line-height: inherit; /* Heredar la altura de línea del elemento padre */
    color: inherit; /* Heredar el color del elemento padre */
}
.card-img {
    width: 250px; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la relación de aspecto */
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.shop .card-name {
    font-size: 2vw; /* Tamaño de fuente ajustado */
    font-weight: 600; /* Peso de fuente ajustado */
    line-height: 1; /* Altura de línea ajustada */
    margin-top: 50px;
    margin-left: 5px;
}

.shop .card-size, 
.shop .card-price {
    font-size: 1vw; /* Tamaño de fuente ajustado */
    font-weight: 500; /* Peso de fuente ajustado */
    margin-left: 5px;
}

.shop .card-price {
    color: #6F0000; /* Color ajustado */
}

.shop .card-promo {
    width: 7.2vw; /* Ancho ajustado */
    height: 4vw; /* Altura ajustada */
    left: 65%; /* Posición izquierda ajustada */
    top: 0.5%; /* Posición superior ajustada */
}

.shop .card-promo-p {
    font-size: 0.8rem; /* Tamaño de fuente ajustado */
    left: 80%; /* Posición izquierda ajustada */
    top: 5%; /* Posición superior ajustada */
}
.shop .card-div{
    width: 100%;
    height: 95%;
    background: rgba(217, 217, 217, 0.27);
    border-radius: 14px;
    position: absolute;
    z-index: -1
}


/*carrito*/

.titulo-tabla{
width: 100%;
background-color: lightgray;
border-radius: 25px;
}
.products {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

/*productos cards*/
.carrito .card-size,
.carrito .card-price {
    /* Reiniciar la posición para los elementos en la página de la tienda */
    position: static;
    width: 160px; /* Reiniciar el ancho */
    font-size: inherit; /* Heredar el tamaño de fuente del elemento padre */
    font-weight: inherit; /* Heredar el peso de la fuente del elemento padre */
    line-height: inherit; /* Heredar la altura de línea del elemento padre */
    color: inherit; /* Heredar el color del elemento padre */
    margin-top: -75px;
    margin-left:300px;
    height: 15px;
}
.carrito-card-name {
    /* Reiniciar la posición para los elementos en la página de la tienda */
    position: static;
    width: 160px; /* Reiniciar el ancho */
    font-size: inherit; /* Heredar el tamaño de fuente del elemento padre */
    font-weight: inherit; /* Heredar el peso de la fuente del elemento padre */
    line-height: inherit; /* Heredar la altura de línea del elemento padre */
    color: inherit; /* Heredar el color del elemento padre */
    margin-top: -75px;
    margin-left:300px;
    height: 15px;
}

#img-carrito{
    width: 250px;
    height: 250px;
    border-radius: 14px;
}
.carrito .card-price {
    color: #6F0000; /* Color ajustado */
}

/*contador*/
.contador{
    margin-left: -550px;
    margin-top: -10px;
}
.contador-nro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    margin-left: 60px;
    background-color: #F1EEEE;
    justify-content: center;
}
.contador-btn{
    margin-left: -305px;
    display: flex;
    flex-direction: column; /* Coloca los botones uno encima del otro */
    align-items: center; /* Centra los botones horizontalmente */
    margin-top: -10px; 
}
#boton-sumar {
    background-color: #934040;
    height: 20px;
    width: 20px;
    margin-top: -30px;
    margin-left: 10px;
    color: #F1EEEE;
    text-decoration: none;
    border: none;
}

#boton-restar {
    background-color: #934040;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px; /* Añade un espacio entre el botón de restar y el siguiente elemento */
    color: #F1EEEE;
    text-decoration: none;
    border: none;
}

.carrito .total-price{
    margin-top: -200px;
}

/*Boton de comprar*/
.comprar{
    display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: normal;
  margin-top: -90px;
  margin-right: 50px;
}

.cmpr-btn{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background: #6F0000;
    width: 11vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1EEEE;
    border: none;
    font-size: 1.5vw;
}


/* About*/
.Ceo-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: normal;
    align-content: center;
}
.ceo-img1, .ceo-img2, .ceo-img3{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    border-radius: 50px;
}
.ceo-p{
    font-family: "Indie Flower", sans-serif;
}
.hstr{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    font-family: var(--base-font);
    margin-top: 200px;
}

.nstrH{
    grid-area: 1 / 1 / 2 / 2;
    color: #6F0000;
}

.nstrU{
    grid-area: 1 / 2 / 2 / 3;
    color: #6F0000;
}

.btn-testimonio{
    position: absolute;
    color: white;
    border: 2px solid #6F0000;
    background-color: #6f0000;
    font-family: Lato;
    word-wrap: break-word;
    margin-top: 380px;
    width: 80%; /* Ancho ajustado */
    left: 10%; /* Posición ajustada */
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Apilar elementos en pantallas pequeñas */
        align-items: stretch;
    }

    .middle {
        justify-content: center;
    }
    .right-nav {
        margin-top: -30px;
        margin-left: 500px;
    }

    .middle li {
        padding: 10px 0; /* Espaciado vertical entre elementos del menú */
    }
    .discover {
        bottom: 20%;
        right: 10%;
    }
    
    .container-middle {
        margin-top: 50px;
    }
    
    .range {
        gap: 30px;
    }
    
    .range-p {
        font-size: 1.5vw;
    }
    .row {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 100px;
        grid-row: 100px;
    }
    .card-container{
        grid-row: 100px;
    }
    .card-name {
        margin-top:350px;
        font-size: 2vw;
    }
    .card-size{
        margin-top: 300px;
    }
    .card-price {
        margin-top: 330px;
    } 
    .card-size,
    .card-price, 
    .card-promo-p {
        font-size: 1.5vw;
    }
    
    .card-promo {
        width: 10vw;
        height: 5vw;
        margin-left: 45px;
    }
    
    .card-promo-p {
        margin-left: 15px;
        margin-top: -5px;
    }
    .btn-container {
        width: 70vw; /* Cambiado a unidades relativas para pantallas más pequeñas */
        height: 10vw; /* Cambiado a unidades relativas para pantallas más pequeñas */
    }
    
    .btn-bm {
        font-size: 4vw; /* Cambiado a unidades relativas para pantallas más pequeñas */
        line-height: 6vw; /* Cambiado a unidades relativas para pantallas más pequeñas */
    }
    .container-h-i {
        font-size: 6vw; /* Ajustado para pantallas más pequeñas */
    }
    
    .img-gallery {
        display: grid;
        grid-template-columns: 1fr; /* Cambiar a una sola columna */
        width: 90%;
        margin: auto; 
        row-gap: 20px;
    }
    
    
    .img-gallery > a {
        width: 90%;
       display: block;
    }
    
    .img-gallery > a > img {
        width: 100%;
        height: auto; /* Ajustar automáticamente la altura para mantener la proporción */
        object-fit: cover;
        border-radius: 25px;
    }

    .image2{
        margin-top: -20px;
        margin-right: -10px;
    }
    .image3{
        margin-top: -30px;
        margin-right: -10px;
    }
    .image4{
        margin-top: 500px;
    }
    .image5{
        margin-top: -20px;
    }
    .image6{
        margin-top: -300px;
        margin-left: 5px;
    }
    .image7{
        margin-top: -20px;
        margin-right: -90px;
    }
    .image8{
        margin-top: -250px;
        margin-left: 5px;
    }
    .image9{
        margin-top: -50px;
        margin-right: -90px;
    }
    .image10{
        margin-top: -20px;
        margin-left: 3px;
    }
 /* flata img8 y img 10  */
    .btn-learn {
        width: 50vw; /* Ajustado para pantallas más pequeñas */
        height: 10vw; /* Ajustado para pantallas más pequeñas */
        font-size: 3vw; /* Ajustado para pantallas más pequeñas */
        margin-bottom: 5px;
    }

    .logo-furni-f {
        font-size: 4vw; /* Reducir tamaño de fuente para pantallas más pequeñas */
    }
    
    .logo-furni-p {
        font-size: 2vw; /* Reducir tamaño de fuente para pantallas más pequeñas */
    }
    
    .footer-pages {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Reducir el tamaño de las columnas */
    }
    .footer-logo-img{
        margin-left: 5vw;
        padding: 5vw;
        margin-top: -5vw;
    }
    
    .footer-search-input {
        width: 90%; /* Ajuste del ancho del input para pantallas más pequeñas */
    }
    
    .footer-search-button {
        font-size: 2vw; /* Tamaño de fuente ajustado para pantallas más pequeñas */
    }

}


@media screen and (min-width: 1024px) {
    .discover {
        bottom: 30%;
        right: 15%;
    }

    .container-middle {
        margin-top: 100px;
    }

    .range {
        gap: 40px;
    }

    .range-p {
        font-size: 2vw;
    }
    .row {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 50px;
    }
    
    .card-name {
        font-size: 1.5vw;
    }
    
    .card-size,
    .card-price,
    .card-promo-p {
        font-size: 1vw;
    }
    
    .card-promo {
        width: 8vw;
        height: 4vw;
    }
    /* 
    .card-promo-p {
        font-size: 1vw;
    } */
}
